.loca-img {
    height: 200px;
}

.loca-img img {
    width: 100%;
    height: 100%;
}

.loca-content {
    text-align: center;
}

.loca-title {
    color: var(--primary-color-dark);
}

.bread {
    margin-left: 2rem;
    margin-top: 2rem;
}

.line-loc {
    width: 12rem;
    height: 2px;
    color: var(--primary-color-dark);
    background-color: var(--primary-color-dark);
    margin-left: 2rem;
    opacity: unset;
}

